<strong>Olá, {{ name }} </strong>
<p>A sua pergunta foi respondida, confira mais detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data e Horário da Resposta: </strong> {{ answer_at }} <br />
  <br />
  <br />
  Esperamos tê-lo ajudado!
</p>
